.banner {
    background-color: #0f0f0f;
    width: 100%;

}

.banner h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;


}



.banner p:nth-child(4) {

    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}