.form-control input,
.form-control textarea {
    width: 80%;
    display: block;
    margin: 8px auto;
    height: 45px;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;

}

.form-control textarea {
    border-bottom: none;
    outline: 2px solid gray;
    height: 80px;
    padding: 4px;
    border-radius: 5px;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}